.TodoInsert {
    display: flex;
    background: #dce1e6;
}

.TodoInsert input {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    flex: 1;
}

.TodoInsert button {
    background: none;
    outline: none;
    border: none;
    background: #868e96;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.TodoInsert button:hover {
    background: #adb5bd;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: 'Pretendard-Regular';
}